.masthead {
    min-height: 28em;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.masthead .page-heading,
.masthead .intro-text,
.masthead .post-heading {
    padding: 10em 0;
}

.masthead .page-heading,
.masthead .intro-heading,
.masthead .post-heading h1 {
    color: lightgray;
    text-shadow: 1px 1px 2px #202020, 0 0 1em #303030, 0 0 0.2em #404040;
}

.masthead .intro-lead-in,
.masthead .node-info {
    color: lightgray !important;
    text-shadow: 1px 1px 1px #202020, 0 0 1em #303030, 0 0 0.2em #404040;
}

.intro-text .intro-heading {
    font-size: 400%;
}

.block {
    margin-bottom: 2rem;
}

#main {
    padding-bottom: 70px;
}
